* {
    margin: 0;
    padding: 0;

    
}



body {
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 17px;
    color: rgb(38, 43, 67);
   
    line-height: 1.6;
}

#showcase {
    background-image: url("./alpi.jpg.png.jpg");
    opacity: 0.9 ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:0 20px;
}

#showcase h1 {
    font-size: 50px;
    line-height: 1.2;
    margin-top: 0.1%;
    margin-bottom: 1%;
     text-decoration: overline underline;
}

#showcase p {

font-size: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
opacity: 0.7;
}
  
#showcase p:hover {
    background-color: rgb(255, 255, 255);
    color: solid black;
    opacity: 1.0;
}


#showcase .button {
    font-size: 30px;
    text-decoration: none;
    color: rgb(40, 40, 44);
    border: rgb(0, 0, 0) 1px solid;
    background-color: aliceblue;
    padding: 10px 50px;
    border-radius: 10px;
    
    
}
  





  


#showcase .button:hover {
    background: rgb(6, 29, 90);
    color: rgb(255, 255, 255);
}




#p {
    font-size:xx-large;
  margin-bottom: 75px;
    padding: 10%;
    text-align: center;
}

#p {

line-height: 100%;
line-height: 30px;
background-color: aliceblue;
border-radius: 10%;
padding-bottom: 3%;
padding-top: 3%;
margin-top: 1%;

}

#u {
    font-weight: bolder;
    color: black;
    line-height: 255%;
    background-color: azure
    
    
}


.k {
    align-items: baseline;
    padding-bottom: 10%;
    margin-top: 5%;
    width: 50%;
}


#u {
    margin-top: 0%;
    margin-bottom: 0%;
}

span {
    color: rgb(0, 0, 0);
}

#i {
    font-size: xx-large;
}

.button {
    margin: 3%;
}
